body {
  background-color: #AD4228;
}

#menu {
  text-align: center;
}

#head-menu {
  font-size: 30px;
  color: #fff5ee;
}

#chicken {
  background-color: #924533;
  text-align: center;
  font-size: 20px;
  color: #fff5ee;
  border: 2px solid black;
  margin: 5% auto;
  height: 1000px;
}
